body {
  font-family: 'Verdana', Helvetica, sans-serif;
  font-size: 13px;
}

.page-container {
  max-width: 940px;
  margin: 0 auto;
}

header {
  color: #FFFFFF;
}

header #primary-nav {
  color: #FFFFFF;
  background-color: #043798;
  border: 1px solid #979797;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #secondary-nav {
  background-color: #639AD3;
  border: 1px solid #979797;
  height: 30px;
}

header #secondary-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #secondary-nav ul li {
  list-style-type: none;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container .content-container {
  border: 1px solid #979797;
  margin-bottom: 30px;
}

.body-container .content-container-header {
  background-color: #639AD3;
  color: #FFFFFF;
  padding: 2px 0 2px 15px;
  font-size: 13px;
  font-weight: bold;
}

.body-container aside {
  width: 40%;
  padding-left: 15px 0 0 25px;
}

.body-container aside .intro {
  padding-top: 15px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container aside .intro .image {
  width: 60%;
  padding: 10px 0 0 25px;
}

.body-container aside .intro .image h1 {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}

.body-container aside .intro .image img {
  margin-bottom: 20px;
}

.body-container aside .intro .image a {
  text-decoration: none;
}

.body-container aside .intro .info {
  width: 40%;
  padding: 25px 0 0 15px;
}

.body-container aside .contact {
  padding: 10px 0 0 25px;
  height: 275px;
  width: 380px;
}

.body-container aside .contact .content-container {
  width: 355px;
  height: 180px;
}

.body-container aside .contact .content-container .actions-list {
  padding: 20px;
}

.body-container aside .contact .content-container .actions-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-container aside .contact .content-container .actions-list ul li {
  margin-bottom: 20px;
}

.body-container aside .contact .content-container .actions-list ul li i {
  margin-right: 15px;
}

.body-container aside .contact .url-container {
  width: 355px;
  height: 40px;
  border: 1px solid #979797;
}

.body-container aside .general-info {
  padding: 10px 0 0 25px;
  height: 375px;
  width: 380px;
}

.body-container aside .general-info .content-container {
  height: 350px;
  width: 355px;
}

.body-container aside .general-info .content-container .detail-list {
  padding: 20px;
}

.body-container aside .general-info .content-container .detail-list .left {
  background-color: #639AD3;
}

.body-container aside .general-info .content-container .detail-list .right {
  background-color: #D6E9FA;
}

.body-container .about {
  width: 60%;
  padding: 15px 0 0 40px;
}

.body-container .about .blog {
  height: 400px;
}

.body-container .about .blog a {
  text-decoration: none;
  color: #043798;
  font-weight: bold;
}

.body-container .about .blog h3 {
  text-align: center;
}

.body-container .about .blog .network {
  height: 90px;
  width: 520px;
  border: 1px solid #979797;
  margin-bottom: 20px;
  font-size: 21px;
}

.body-container .about .blog ul, .body-container .about .blog li {
  margin: 25px 0;
}

.body-container .about .blurbs {
  height: 150px;
}

.body-container .about .blurbs .content-container {
  border: none;
  margin: 0;
}

.body-container .about .blurbs .content-container .content-container-header {
  background-color: #FFCC9A;
  color: #E78944;
  padding: 2px 0 2px 15px;
  font-size: 13px;
  font-weight: bold;
}

.body-container .about .blurbs h3 {
  color: #E78944;
  font-weight: bold;
}

.body-container .about .comment {
  height: 375px;
  padding-top: 10px;
}

.body-container .about .comment .content-container {
  width: 520px;
  height: 350px;
}
/*# sourceMappingURL=style.css.map */